.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0f0fa;
}

.form-wrapper {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #e0f0fa;
  background-color: #ffffff;
}

form {
  width: 100%;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
}
h2 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName,
.email,
.Name,
.Password,
.confirmPassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 350px;
  margin-top: 25px;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #71c7ec;
  color: #fff;
  border: 2px solid #fff;
  width: 350px;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #71c7ec;
  background-color: #fff;
  border: 2px solid #71c7ec;
  cursor: pointer;
}
